@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
max-width: 1200px;
margin:auto
}


.todo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}
/* BUSCADOR */

/*botonsearch{
    margin-top: 5px;
}
.buscadorylistas{
    border: solid black;
    display: block;

  
}
.buscador{
    display: block;
    padding-left: 10%;
    background-color: grey;
    
}
.lupa {
    width: fit-content;
    position: relative;
    z-index: 45;
    bottom: 30%;
    left: 950px;
    
}


.search {
    margin-top: 10%;
    background-color: transparent;
    height: 100%;
    width: 300px;
    border: rgb(80, 63, 63) solid 1px;
    border-radius: 100px;
    color: rgb(51, 41, 41);
    padding: 8px 24px;
}

.search::placeholder {
    color: rgb(126, 103, 103);
}

.imglupa {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-30px, -50%);
    cursor: pointer;
    z-index: 89;
    width: 20px;
    height: 20px;
}*/


.buscador {
    
    background-color: blueviolet;
    justify-content: center;

    input {
        position: relative;
      outline: none;
      padding: 12px 1rem 12px 4rem;
      font-size: 1rem;
      border: 1px solid black;
      border-radius: 24px;
      width: auto;
      margin-top: 5%;
    }

        i {
        position: absolute;
        z-index: 1;
        color: grey;
        font-size: 1.4rem;
        top: 50%;
        left:0%
        
        }
  }




/* LISTAS DE REPRODUCCIÓN */

.reproductor{
    border: 2px black solid;
}
/* cover album */

.coveralbum{
    background-image: url(./img/fondoreproductor.jpg);
    width: 400px;
    height: 270px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.Descripcion{
    display: block;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 10px 30px 10px;
}


/* BOTONES */
.botones{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: flex;
    list-style: none;
    justify-content: center;
}

.botones{
    li{
        padding: 10px;
    }
}

.filtrodebusqueda{
    display: block;
    margin: 10%;
    width: 400px;
    border: black solid 1px;
    padding: 15px;
}

.Playlists{
    display: block;
    margin-left: 10%;
    margin-top: 2%;
    width: 400px;
    border: black solid 1px;
    padding: 15px;
    
}
.cancion{
    list-style: none;
    display: flex;
}
.cancion span{
    margin-right: 50%;
}
.listabusqueda{
    height: 100px;
    overflow-y: auto;
    display: block;
    margin-top: 2%;
}
.listaplaylist{
    height: 100px;
    overflow-y: auto;
    display: block;
    margin-top: 2%;
} 

.listafavoritos{
    height: 100px;
    overflow-y: auto;
    display: block;
    margin-top: 2%;
}
.favorito{
    display: block;
    margin: 10%;
    margin-top: 2%;
    width: 400px;
    border: black solid 1px;
    padding: 15px;
}

ul li:hover{
    background-color:lightpink;
}